anonymous_enable={{ anonymous_enable }}
local_enable={{ local_enable }}
anon_root={{ anon_root }}
no_anon_password={{ no_anon_password }}
write_enable=YES
local_umask=022
dirmessage_enable=YES
xferlog_enable=YES
connect_from_port_20=YES
xferlog_std_format=YES
chroot_local_user=YES
listen=NO
listen_ipv6=YES
pam_service_name=vsftpd

